
<suite name="mytestsuite">
	<parameter name="browser" value="Chrome"></parameter>
	<test name="testNG">
<listeners>
			<listener class-name="listeners.Listener"></listener>
			<listener class-name="listeners.RetryListener"></listener>
		</listeners>
		<classes>
			<class name="testscripts.SubcategoryTest"></class>
			<class name="testscripts.AdminUsersTest"></class>
			<class name="testscripts.CategoryTest"></class>
			<class name="testscripts.LoginTest"></class>
			<class name="testscripts.ManagecontactTest"></class>
			<class name="testscripts.ManageFooterTest"></class>
			<class name="testscripts.ManagenewsTest"></class>
		
			
		</classes>
	</test>
</suite>